<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136063392438-6thu28q4gcnh3ni7ec0v1m0npahs52bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136063392438-6thu28q4gcnh3ni7ec0v1m0npahs52bi</string>
	<key>API_KEY</key>
	<string>AIzaSyActO6F0BTHcE5bvW1Vs_x1RgslWfYeSkg</string>
	<key>GCM_SENDER_ID</key>
	<string>136063392438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goodwinNJ.TemplateProject</string>
	<key>PROJECT_ID</key>
	<string>newprojecttestenvironment</string>
	<key>STORAGE_BUCKET</key>
	<string>newprojecttestenvironment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136063392438:ios:b2d5af589c477b373e6417</string>
</dict>
</plist>